# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
.eslintcache

# Env files
.env
.env.*

# MacOS
.DS_Store

# Vite
clientI/dist/
server/dist/

# IDEs
.vscode/
.idea/
